############################
# Base
############################
Dockerfile

############################
# Development
############################
.env
./env
./venv
./dbext
./__pycache__
./**/__pycache__
